// color
$primary: #006400;
$primary-medium: #1da11d;
$primary-light: #cce6cc;
$primary-faint: #e4f5e4;
$header-inner: #5c5c5c;
$header-text: #101010;


$container: 1080px;

// dark
$dark-200: #263238;
$dark-300: #333;

// grey
$lt-grey: #fefefe;
$md-grey: #f2f2f2;
$dk-grey: #cecece;
$md-grey-2: #f7f7f7;

// grey
$bd-small: #bdbdbe;
$bd-medium: #bdbdbe;
$bd-large: #bdbdbe;
$bd-inner: #d8d8d8;

// border radius
$rd-small: 5px;
$rd-medium: 7px;
$rd-large: 10px;


// footer colors
$ft-bg: #263238;
$ft-text: #ccc;
$ft-border:  #323f45;
$ft-text-bt: #999;

// color
$bg-break-title: #FFEA00;
$bg-break-text: #3399FF;
$bg-cta: #1a1f29;
$btn-cta:  #44cc88;
$text-cta: #348256;
