@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Open Sans" !important;
  font-size: 1rem;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2 !important;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul, li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#locations {
  background: #006400;
  color: white;
}

.lead-text {
  font-size: clamp(1.8rem, 5vw, 3rem);
  padding-bottom: 0.5rem;
  letter-spacing: 1px;
}

.lead-text + * {
  line-height: 1.2;
  font-weight: 300;
}

.section-header {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.all-items {
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%, 50%);
  border-radius: 20px;
  padding: 8px 24px;
  border: 2px solid goldenrod;
  border: 2px solid #FFEA00;
  letter-spacing: 2px;
}

.all-items:hover {
  border: 2px solid transparent;
}

@media screen and (max-width: 900px) {
  .section-header {
    text-align: center;
    padding: 2.5rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 699px) {
  .section-header {
    text-align: center;
    padding: 1.5rem;
  }
}

nav {
  padding: 0 1rem !important;
}

nav .brand {
  visibility: hidden;
}

#top-header {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

#top-header .banner {
  display: grid;
  grid-template-columns: auto 1fr 100px;
  column-gap: 2rem;
  text-align: center;
  align-content: center;
  padding: 1rem 0;
}

#top-header .banner .logo {
  height: 60px;
  width: 100px;
}

#top-header .banner .logo-hq {
  height: 70px;
}

#top-header .banner .logo-hq img {
  height: 80px;
  object-fit: cover;
}

#top-header .banner h5 {
  font-size: clamp(0.75rem, 2.5vw, 0.85rem);
  font-weight: 400;
}

#top-header .banner h4 {
  font-size: clamp(1rem, 2.5vw, 1.75rem);
}

#top-header .banner small {
  line-height: 1.2;
}

#top-header .banner article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#top-header .banner .top-search {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#top-header .banner .top-search i {
  cursor: pointer;
}

#top-header .banner .top-search i + i {
  margin-left: 1rem;
}

#top-header .banner small {
  display: grid;
  place-items: center;
}

#top-header .menu-container {
  border-top: 2px solid #bdbdbe;
  border-bottom: 2px solid #bdbdbe;
  justify-content: center;
  align-items: center;
}

#top-header .menu-container .menu li a {
  padding: 0 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.2s ease;
}

#top-header .menu-container .menu li a.active, #top-header .menu-container .menu li a:hover {
  background: #006400;
  color: white;
}

@media (min-width: 992px) {
  .dropdown-menu .dropdown-toggle:after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
  }
  .dropdown-menu .dropdown-menu {
    margin-left: 0;
    margin-right: 0;
  }
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

#hero {
  height: 60vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
  color: white;
}

#hero #btn-prev,
#hero #btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border-radius: 50%;
  border: 2px solid white;
}

#hero #btn-next {
  right: 20px;
}

#hero .sliders {
  height: 100%;
  display: flex;
}

#hero .sliders .slider {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

#hero .sliders .slider img {
  height: 100%;
  width: 100vw;
  object-fit: cover;
}

#hero .sliders .slider .wrapper {
  height: 100%;
  max-width: 1200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#hero .sliders .slider .caption {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  max-width: 600px;
  align-self: flex-end;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

#hero .sliders .slider .caption h3 {
  margin-bottom: 1rem;
  padding: 1rem;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px solid #f7f7f7;
}

#hero .sliders .slider .caption a {
  align-self: flex-start;
  margin-top: 1rem;
}

@media screen and (max-width: 997.98px) {
  #hero {
    height: 400px;
  }
  #hero .sliders .slider .wrapper {
    padding: 2rem;
    max-width: 992px;
  }
  #hero .sliders .slider .wrapper .caption {
    max-width: 90%;
  }
  #hero .sliders .slider .wrapper .caption h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 767.98px) {
  #hero .sliders .slider .wrapper {
    padding: 1rem;
    max-width: 768px;
  }
  #hero .sliders .slider .wrapper .caption {
    width: 90%;
  }
  #hero .sliders .slider .wrapper .caption h3 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 575.98px) {
  #hero .sliders .slider .wrapper {
    padding: 1rem;
    max-width: 576px;
  }
  #hero .sliders .slider .wrapper .caption {
    width: 90%;
  }
  #hero .sliders .slider .wrapper .caption h3 {
    font-size: 1.2rem;
  }
}

#scroll-text {
  width: 100%;
  background: #006400;
}

#scroll-text .inner-wrap {
  overflow: hidden;
  /* Hide scroll bar */
  margin-left: 10%;
  position: relative;
  /* MIDDLE CONTAINER */
}

#scroll-text .inner-wrap .title {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background: #FFEA00;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  transform: skew(-10deg);
  z-index: 10;
}

#scroll-text .inner-wrap .title h4 {
  transform: skew(10deg);
  font-size: 1rem;
}

#scroll-text .inner-wrap .wrapper {
  width: 100%;
  padding-left: 100%;
  /* Push contents to right side of screen */
  color: white;
  margin-left: 2rem;
}

/* INNER CONTAINER */
@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 10s;
  /* ITEMS */
}

.ticker-move:hover {
  animation-play-state: paused;
  /* Pause scroll on mouse hover */
}

.ticker-move .ticker-item {
  display: inline-block;
  /* Lay items in a horizontal line */
  padding: 0 2rem;
  color: white;
  font-size: .9rem;
}

.counters {
  padding-bottom: 1rem;
  background-color: #006400;
  color: white;
  border-top: 2px solid #FFEA00;
  border-bottom: 2px solid #FFEA00;
}

.counters > .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  text-align: center;
}

.counters > .container > div {
  display: grid;
  grid-template-rows: auto 1fr min-content;
}

.counters > .container > div h3 {
  font-size: clamp(1rem, 2.3vw, 1rem);
  font-weight: normal;
}

.counters > .container > div > div {
  font-size: clamp(2rem, 2.5vw, 3.5rem);
  font-weight: bold;
}

@media (max-width: 767.98px) {
  #counters .container {
    grid-template-columns: repeat(2, 1fr);
  }
  #counters .container > *:nth-of-type(1), #counters .container > *:nth-of-type(2) {
    border-bottom: 2px solid white;
    padding-bottom: 1rem;
  }
}

#info-box {
  padding-bottom: 7rem;
  background: white;
}

#info-box > .container {
  position: relative;
  padding-bottom: 4rem !important;
}

#info-box > .container .section-header {
  background: white;
}

#info-box > .container .infos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background: #fefefe;
}

#info-box > .container .infos > *:first-of-type {
  grid-row: 1 / span 3;
  grid-column: 1 / 1;
}

#info-box > .container .infos article {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 1fr;
  column-gap: 0.5rem;
  background: white;
}

#info-box > .container .infos article .contentBox {
  height: 100%;
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#info-box > .container .infos article .contentBox h5 {
  font-size: 0.85rem;
  font-weight: 100;
}

#info-box > .container .infos article .contentBox p {
  line-height: 1.2;
  letter-spacing: 1px;
  font-size: .95rem;
  color: #263238;
}

#info-box > .container .infos article .contentBox p a {
  text-decoration: none;
}

#info-box > .container .infos article .contentBox p a:hover {
  color: #006400;
}

#info-box > .container .infos article .imgBox {
  height: 120px;
}

#info-box > .container .infos article:first-of-type {
  background: #f2f2f2;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  padding: 2rem;
}

#info-box > .container .infos article:first-of-type > .imgBox {
  width: 250px;
  height: 250px;
  margin-bottom: 1rem;
}

#info-box > .container .infos article:first-of-type > .imgBox img {
  border-radius: 50%;
}

#info-box > .container .infos article:first-of-type .contentBox {
  margin-top: 0.5rem;
  display: block;
}

#info-box > .container .infos article:first-of-type .contentBox p {
  margin-top: 0.5rem;
}

@media screen and (max-width: 991.98px) {
  #info-box > .container {
    padding: 1rem;
  }
  #info-box > .container .infos {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  #info-box > .container .infos > *:first-of-type {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    margin-bottom: 2rem;
    border-bottom: none;
  }
  #info-box > .container .infos article {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 1rem;
    box-shadow: inset 0 0 0 10px rgba(212, 214, 214, 0.4);
  }
  #info-box > .container .infos article .contentBox {
    padding: 1rem;
  }
  #info-box > .container .infos article:not(:first-of-type) {
    place-items: center;
  }
  #info-box > .container .infos article p {
    font-size: 1.2rem;
  }
  #info-box > .container .infos article .imgBox {
    width: 150px;
    margin-left: 12px;
  }
  #info-box > .container .infos article:first-of-type > .imgBox {
    width: 100%;
  }
  #info-box > .container .infos article:first-of-type > .imgBox img {
    border-radius: 0;
  }
}

@media screen and (max-width: 767.98px) {
  #info-box > .container .infos {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }
  #info-box > .container .infos > *:first-of-type {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: 1rem;
  }
  #info-box > .container .infos article {
    grid-template-columns: 1fr;
    background: white;
    box-shadow: inset 0 0 0 10px rgba(212, 214, 214, 0.4);
  }
  #info-box > .container .infos article:not(:first-of-type) {
    margin-bottom: 1rem;
  }
  #info-box > .container .infos article .imgBox {
    height: 250px;
    width: 97%;
    margin-left: 0;
  }
  #info-box > .container .infos article .contentBox {
    padding: 1rem 2rem;
    padding-left: 2.5rem;
  }
  #info-box > .container .infos article .contentBox p {
    margin-top: 1rem;
  }
  #info-box > .container .infos article:first-of-type {
    background: white;
    padding: 0;
  }
  #info-box > .container .infos article:first-of-type > .imgBox {
    height: 250px;
    width: auto;
    margin-bottom: 0;
  }
  #info-box > .container .infos article:first-of-type > .imgBox img {
    border-radius: 0%;
    height: 100%;
    width: 100%;
  }
  #info-box > .container .infos article:first-of-type > .contentBox {
    display: block;
  }
  #info-box > .container .infos article:first-of-type > .contentBox small {
    margin-top: 1rem;
  }
  #info-box > .container .infos article:first-of-type > .contentBox p {
    font-size: 1.05rem;
    margin-top: 0.5rem;
  }
}

#services-board {
  background: #f7f7f7;
  padding-bottom: 7rem;
  display: grid;
  place-items: center;
}

#services-board .container .services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

#services-board .container .services > article {
  padding: 3rem 2rem;
  background: white;
  grid-column: span 2;
  display: grid;
  grid-template-rows: min-content 1fr;
  row-gap: .5rem;
  justify-items: center;
  transition: all .3s ease;
}

#services-board .container .services > article a {
  text-decoration: none;
  transition: .2s ease all;
}

#services-board .container .services > article a:hover {
  background: white;
  color: limegreen;
}

#services-board .container .services > article .contentBox h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Muli';
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

#services-board .container .services > article .contentBox p {
  font-size: .9rem;
  margin-top: 1rem;
}

#services-board .container .services > article:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  outline-color: #006400;
  outline-width: 3px;
  outline-style: solid;
}

#diplomats {
  padding-bottom: 7rem;
}

#diplomats .container {
  padding: 1rem;
  padding-bottom: 2rem;
  position: relative;
}

#diplomats .container .management {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  background: white;
  gap: 3rem 2rem;
}

#diplomats .container .management > article {
  display: grid;
  grid-template-rows: 1fr auto auto;
}

#diplomats .container .management > article .contentBox {
  padding: 1rem;
  text-align: center;
}

#diplomats .container .management > article .contentBox h4 {
  font-size: 1.1rem !important;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#diplomats .container .management > article .contentBox h4 a {
  color: #006400;
}

#diplomats .container .management > article .contentBox h4 a:hover {
  color: #263238;
  text-decoration: underline;
}

#diplomats .container .management > article .contentBox small {
  font-weight: 100 !important;
  letter-spacing: 0.87;
  font-size: 0.8rem;
}

#diplomats .container .management > article .btn-management {
  border-radius: 50px;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: bold;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  background: black;
  color: white;
  justify-self: center;
}

#diplomats .container .management > article .btn-management:hover {
  border: 2px solid black;
  background: white;
  color: black;
}

#diplomats .container .diplomats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  background: white;
  gap: 2rem;
}

#diplomats .container .diplomats > article {
  display: grid;
  grid-template-rows: 1fr auto;
}

#diplomats .container .diplomats > article .contentBox {
  padding: 1rem;
  background: #f2f2f2;
  text-align: center;
}

#diplomats .container .diplomats > article .contentBox h4 {
  font-size: 1.1rem !important;
  font-weight: bold;
  letter-spacing: 0.5px;
}

#diplomats .container .diplomats > article .contentBox h4 a {
  color: #006400;
}

#diplomats .container .diplomats > article .contentBox h4 a:hover {
  color: #263238;
  text-decoration: underline;
}

#diplomats .container .diplomats > article .contentBox small {
  font-weight: 100 !important;
  letter-spacing: 0.87;
  font-size: 0.8rem;
}

#ngbm {
  background: #1a1f29;
  padding: 5rem 3rem;
}

#ngbm .container {
  text-align: center;
  max-width: 700px;
}

#ngbm .container p {
  color: white;
  font-size: 1.5rem;
  font-family: "Lato";
}

#ngbm .container p span {
  color: #348256;
}

#ngbm .container p:last-of-type {
  font-size: clamp(0.9rem, 2.5vw, 1.2rem);
  margin-top: 1rem;
  line-height: 1.4;
  color: #ccc;
  font-weight: lighter;
}

#ngbm .container p:first-of-type {
  line-height: 1.4;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}

#ngbm .container a {
  border-radius: 50px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 1rem;
  font-weight: bold;
  transition: all 0.2s ease;
  border: 2px solid white;
  background: transparent !important;
  color: #44cc88;
}

#ngbm .container a:hover {
  background: #44cc88 !important;
  border: 2px solid transparent;
  color: #1a1f29;
}

#video .container {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

#video .container > .video-wrapper {
  display: flex;
  height: 300px;
  overflow-x: auto;
  padding-bottom: 2rem;
  /* Works on Firefox */
  /* Works on Chrome, Edge, and Safari */
}

#video .container > .video-wrapper > * {
  scrollbar-width: thin;
  scrollbar-color: #006400 white;
}

#video .container > .video-wrapper::-webkit-scrollbar {
  height: 10px;
}

#video .container > .video-wrapper::-webkit-scrollbar-track {
  background: #006400;
}

#video .container > .video-wrapper::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #006400;
}

#video .container > .video-wrapper article {
  margin-right: 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 1fr min-content;
  border: 2px solid white;
  padding: 5px;
}

#video .container > .video-wrapper article .videoBox {
  position: relative;
}

#video .container > .video-wrapper article .videoBox video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#video .container > .video-wrapper article .videoBox .title {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  text-align: center;
}

#video .container a {
  border-radius: 50px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 1rem;
  font-weight: bold;
  transition: all 0.2s ease;
  border: 2px solid black;
  align-self: center;
  margin-top: 2rem;
}

#video .container a:hover {
  background: black;
  border: 2px solid transparent;
  color: white;
}

#footer {
  background: #263238;
  color: #ccc;
  padding: 2rem;
  padding-top: 4rem;
}

#footer .container .footer-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 2rem;
  border-bottom: 1px solid #323f45;
  padding: 1rem 0;
}

#footer .container .footer-items > article p {
  color: #ccc;
  font-size: 0.8rem;
}

#footer .container .footer-items > article p:first-of-type {
  font-size: .85rem;
  margin-bottom: 1rem;
  padding-right: 2rem;
}

#footer .container .footer-items > article h5 {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

#footer .container .footer-items > article ul {
  padding-left: 0;
}

#footer .container .footer-items > article ul li a {
  color: #ccc;
  font-size: .95rem;
  transform: all .2s ease;
}

#footer .container .footer-items > article ul li a:hover {
  color: white;
}

#footer .container .footer-items > article .latest > article {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: .5rem;
}

#footer .container .footer-items > article .latest > article .imgBox {
  width: 70px;
  height: 50px;
}

#footer .container .footer-items > article .latest > article .contentBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space;
}

#footer .container .footer-items > article .latest > article .contentBox small {
  color: #999;
  font-size: .8rem;
}

#footer .container .footer-items > article .latest > article .contentBox p {
  margin-bottom: .3rem;
  line-height: 1.1;
  font-size: .8rem;
}

#footer .container .footer-items > article .latest > article .contentBox p a {
  color: #ccc;
}

#footer .container .footer-items > article .latest > article:not(:first-of-type) {
  margin-top: .5rem;
}

#footer .container .footer-bottom {
  text-align: center;
  padding-top: 1rem;
}

#footer .container .footer-bottom a, #footer .container .footer-bottom p {
  color: #ccc;
}

#footer .container .footer-bottom p {
  font-size: .9rem;
}

#footer .container .footer-bottom ul {
  display: inline-flex;
  padding-left: 0;
  margin: 1rem;
}

#footer .container .footer-bottom ul li {
  margin-left: .5rem;
}

#footer .container .footer-bottom ul li a {
  color: #999;
}

#footer .container .footer-bottom ul li a:hover {
  text-decoration: underline;
}

#footer .container .footer-bottom ul.socials li {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid white;
  line-height: 40px;
  margin-left: .5rem;
}

#footer .container .footer-bottom ul.socials li a:hover {
  color: white;
}

#inner-header {
  height: clamp(150px, 25vw, 250px);
  background: linear-gradient(-45deg, #23d5ab, #263238, #23a6d5, #006400);
  background: linear-gradient(-45deg, #d3dee1, #23d5ab, #23d5ab, #263238);
  background: linear-gradient(-45deg, #d3dee1, #d9d8d8, #23d5ab, #ccc);
  background: linear-gradient(-45deg, #d3dee1, #d9d8d8, #b6e9dd, #ccc);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: #5c5c5c;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

#inner-header .container {
  height: 100%;
}

#inner-header .container .main {
  position: relative;
  height: 100%;
  width: 100%;
}

#inner-header .container .main .page-title {
  text-transform: uppercase;
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
  font-weight: 700;
  font-size: clamp(2rem, 10vw, 5rem) !important;
}

#inner-header .container .main article {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

#inner-header .container .main article i {
  color: black;
}

#inner-header .container .main article li a {
  color: #263238;
}

#inner-header .container .main article li + li::before {
  content: "|";
  margin: 0 1rem;
}

#page-content {
  padding: 3rem 0;
  height: 100%;
}

#page-content .container {
  height: 100%;
}

#page-content .container .main-area {
  min-height: 100%;
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
}

#page-content .container .main-area img {
  max-height: 400px;
}

#page-content .container .main-area .metabox {
  padding: 0.5rem;
  background: #f2f2f2;
  margin: 1rem 0;
  border-left: 3px solid #263238;
  letter-spacing: 1px;
}

#page-content .container .main-area .metabox small a {
  font-weight: bold;
}

#page-content .container .main-area .metabox small span a {
  font-weight: normal;
  margin-left: 1rem;
  font-style: italic;
}

#page-content .container .main-area .metabox a {
  color: #263238;
}

#page-content .container .main-area p {
  line-height: 1.5;
}

#page-content .container .main-area > article {
  flex: 2;
}

#page-content .container .main-area .page-indicators {
  justify-self: flex-end;
}

#page-content .container .sidebar article + article {
  margin-top: 3rem;
}

.page-header {
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  color: #101010;
  padding-bottom: 1.4rem;
  font-family: "Fira Sans Condensed" !important;
  border-bottom: 2px solid #d8d8d8;
}

.page-header:before {
  position: absolute;
  right: auto;
  bottom: 0px;
  margin-bottom: -2px;
  display: block;
  width: 125px;
  height: 2px;
  content: "";
  background: #006400;
}

.categories {
  padding-left: 0 !important;
}

.categories li a {
  font-size: 0.95rem;
  color: #263238;
  background: #1da11d;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  line-height: 1.5rem;
  text-align: left;
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  transition: all 0.2s ease;
}

.categories li a.active, .categories li a:hover {
  background: #006400;
  color: white;
}

.categories li + li {
  margin-top: 4px;
}

.recent a {
  color: #263238;
}

.press > article {
  display: grid;
  grid-template-columns: 90px 1fr;
  gap: 1rem;
  margin-top: 1rem !important;
}

.press > article:first-of-type {
  margin-top: 1rem;
}

.press > article .pr-date {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 1rem;
  text-align: center;
  padding: 0;
  border: 2px solid #006400;
  border-radius: 5px;
  align-self: flex-start;
}

.press > article .pr-date .month {
  background: #006400;
  color: white;
  padding: 2px 0px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.press > article .pr-date .day {
  padding: 3px 0px;
  font-weight: 700;
  font-size: 2rem;
}

.press > article p {
  display: flex;
  align-items: center;
  line-height: 1.4;
  font-size: .95rem;
}

.press > article p a {
  color: #263238;
}

.search-box {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 3rem;
}

.search-box input {
  padding: 0.5rem;
}

.search-box .btn {
  padding: 1rem !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
